[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "==4.6.0"
flask = "==2.2.3"
werkzeug = "==2.2.3"
python-dotenv = "==1.0.0"
flask-login = "==0.6.3"
langchain = "*"
langchain-openai = "*"
langchain-core = "*"
typing-inspection = "*"

[dev-packages]


